{% macro displayComments(comments) %}
    {% for comment in comments %}

    <table style="width:100%">
      <tr>
        <th>Title</th>
        <th>Comment</th>
        <th>User</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td>{{comment.title}}</td>
        <td>{{comment.comment}}</td>
        <td>{{comment.user.username}}</td>
        <td><a href="{{url_for('main.del_comment',blog_id = comment.blog_id, comment_id = comment.id)}}"><button type="button" name="button" class="btn btn-warning">Delete Comment</button></a></td>
      </tr>
    </table>

      <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
        <h4></h4>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
        <h4> <a></a> </h4>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3">
        <h4></h4>
      </div>
      <br><br>
    </div>
    {% endfor %}
{% endmacro %}
